@tailwind base;
@tailwind components;
@tailwind utilities;

/* Underline Animation */
.underline-animation {
    position: relative;
    text-decoration: none;
  }
  
  .underline-animation::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #3559E0; /* Color of the underline */
    transition: width 0.3s ease; /* Animation duration and easing */
  }
  
  .underline-animation:hover::after {
    width: 100%; /* Fully underline on hover */
  }
  
  .underline-animation.active::after {
    width: 100%; /* Fully underline when active */
  }
  